<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/carousel.css" rel="stylesheet">

    <title>CulturePay - Sight</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">문화페이</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">홈</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sight">관광지 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">가맹점</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    거래
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/deposit">문화페이 받기</a>
                  <a class="dropdown-item" href="/withdraw">결제하기</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log">이용내역</a>
            </li>
        </ul>
        </div>
    </nav>

    <br>
    <div class="container">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="text-center"><img src='../images/국립공주박물관_01.jpg' width="100%"></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">이름</td>
                    <td>국립공주박물관</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">주소</td>
                    <td>충남 공주시 관광단지길 34</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">문화페이</td>
                    <td><span name='value'>5000</span>개</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-sm btn-outline-secondary" style="width: 5cm;">문화페이 받기</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>